<div class="container">
<div class="row">

<%= form_for(:shop, :url =>  shop_create_path(), :html=>{:class=>"col s4"} )do |f| %>
	<div class="row">
        <div class="input-field">
          	<%= f.text_field(:name) %>
  			<%= label_tag(:name, "Дэлгүүрийн нэр") %>
        </div>
  	</div>
  	<div class="row">
        <div class="input-field">
          <%= f.text_field(:latlng) %>
          <%= label_tag(:latlng, "latlng") %>
        </div>
  	</div>
  	<div class="row">
        <div class="input-field">
          <%= f.file_field(:logo) %>
        </div>
  	</div>
  	<div class="row">
        <div class="input-field">
          <%= f.text_field(:email) %>
          <%= label_tag(:email, "Майл хаяг") %>
        </div>
  	</div>
  <div class="row">
        <div class="input-field">
          <%= f.text_field(:phone) %>
          <%= label_tag(:phone, "Утасны дуугар") %>
        </div>
  	</div>
  	<div class="row">
        <div class="input-field">
          <%= f.text_area(:address,:class=>"materialize-textarea") %>
          <%= label_tag(:address, "Хаяг") %>
        </div>
  	</div>
  <%= f.submit("Хадгалах",:class=>"waves-light btn") %>
<% end %>
  <div class="col s8">
   	<div id="map" style="width:100%; min-height:450px;"></div>
  </div>
</div>
<div class="row">
	<hr>
  <table class="striped">
  <thead>
    <tr>
      <th>N</th>
      <th>Дэлгүүрийн нэр</th>
      <th>Утас</th>
      <th>Майл хаяг</th>
      <th>Байрлал</th>
      <th>Хаяг</th>
    </tr>
    <thead>
    <tbody>
    <% @shops.each do |shop, index| %>
      <tr>
        <td><%= shop.id %></td>
        <td><%= shop.name %></td>
        <td><%= shop.phone %></td>
        <td><%= shop.email %></td>
        <td><%= shop.latlng %></td>
        <td><%= shop.address %></td>
      </tr>  
    <% end %>
    </tbody>
  </table>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $("#map").gmap3({
    map:{
      options:{
        center:[47.9113293,106.9229857],
        zoom: 13
      }
    },
    marker:{
      values:[
        {latLng:[47.9113293,106.9229857], data:"Байрлал сонгох"}
      ],
      options:{
        draggable: true
      },
      events:{
        mouseover: function(marker, event, context){
          var map = $(this).gmap3("get"),
            infowindow = $(this).gmap3({get:{name:"infowindow"}});
          if (infowindow){
            infowindow.open(map, marker);
            infowindow.setContent(context.data);
          } else {
            $(this).gmap3({
              infowindow:{
                anchor:marker,
                options:{content: context.data}
              }
            });
          }
        },
        mouseout: function(){
          var infowindow = $(this).gmap3({get:{name:"infowindow"}});
          if (infowindow){
            infowindow.close();
          }
        },
        dragend: function(a){
          p = a.getPosition();
          $("#shop_latlng").val(p.k+", "+p.B);
        }
      }
    }
  });
});
</script>