<div class="container">
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field offset-s2 col s7">
        <i class="mdi-action-search prefix"></i>
        <input id="icon_prefix" type="text" class="validate" name="q" value="<%= params[:q] %>">
        <label for="icon_prefix">Хайх</label>
      </div>
      <div class="input-field col s2">
		  <button class="btn waves-effect waves-light" type="submit">Хайх
		    <i class="mdi-content-send right"></i>
		  </button>
      </div>
    </div>
  </form>
</div>
<div class="row">
	<div id="map"></div>
</div>
<script>
$("#map").gmap3();
$(document).ready(function() {
	
	map = $("#map").gmap3("get");
	// new google.maps.KmlLayer({url: "http://91.228.52.236/kml/map_1.kml"}).setMap(map);
	// new google.maps.KmlLayer({url: "http://91.228.52.236/kml/map_2.kml"}).setMap(map);
	// new google.maps.KmlLayer({url: "http://91.228.52.236/kml/map_3.kml"}).setMap(map);
	// new google.maps.KmlLayer({url: "http://91.228.52.236/kml/map_4.kml"}).setMap(map);
	// new google.maps.KmlLayer({url: "http://91.228.52.236/kml/map_5.kml"}).setMap(map);
	// new google.maps.KmlLayer({url: "http://91.228.52.236/kml/map_6.kml"}).setMap(map);
	map.setCenter(new google.maps.LatLng(47.8916501, 106.9018714));
	map.setZoom(13);

	<% if @khoroolol %>
            <% @khoroolol.each do |k| %>
                  var coord = `<%=  k.coordinate %>`;
                  coords = [];
                  coord.split("\n").forEach(function(a,b){
                  c = a.split(",");
                  if(c.length > 1)
                     coords.push(new google.maps.LatLng(parseFloat(c[1]), parseFloat(c[0])));
                });
                var p = new google.maps.Polygon({
                paths: coords,
                strokeColor: '#FF0000',
                strokeOpacity:0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                map: map
                });

              //p.setMap(map);
                  new google.maps.InfoWindow({position: new google.maps.LatLng(<%= k.center.split(",")[1] %>, <%= k.center.split(",")[0] %>), content: `<div style='height:40px; width: 100px;'><%= k.region_name.strip %></div>`}).setMap(map);
            <% end %>
          <% end %>


});
</script>
</div>
        