
<div class="col s12">
<div class="row">
	<div class="col s3">
      <ul class="collection">
      	<li class="collection-item">
      		<input type="checkbox" id="test5" onclick=" yousendit(this, 'khoroo')" <% if  params[:khoroo]=="true" %> checked <%  end %>/>
    		<label for="test5">Хороо, хотхон харуулах</label>
    	</li>
      <% @duureg.each do |location| %>
        <a href="?d=<%= location.id %>" class="collection-item <%= @d.id == location.id ? "active":"" %>"><%= location.cname%></a>
        	<% if @d.id == location.id %>
	        <ul class="collection">
	        	<% location.children.each do |kh| %>
	        		<a href="?d=<%= @d.id %>&kh=<%= kh.id %>" class="collection-item <%= params[:kh].to_i == kh.id ? "active":"" %>"><%= kh.cname %></a>
	        	<% end %>
	        </ul>
	       <% end %>
      <% end %>
      </ul>
	</div>
	<div class="col s9">
		<div id="map"></div>
	</div>

</div>
<script type="text/javascript">
	function yousendit(el,type){
    if($(el).is(':checked')){
        window.location="?d=<%= params[:d] %>&kh=<%= params[:kh] %>&"+type+"=true";
    }else window.location="?d=<%= params[:d] %>&kh=<%= params[:kh] %>&"+type+"=false";
}
$(function() {
        $('#map').gmap3({
            map: {
                options: {
                    center: {lat: <%= @d.center.split(",")[1] %>, lng: <%= @d.center.split(",")[0] %>},
                    zoom: 11
                }
            }
        });
        map = $("#map").gmap3("get");
        new google.maps.KmlLayer({url: "http://91.228.52.236/kml/<%= @d.filename %>"}).setMap(map);
        new google.maps.KmlLayer({url: "http://91.228.52.236/kml/<%= @d.filename %>"}).setMap(map);
        <% if params[:kh] and params[:kh]!="" %>
          new google.maps.KmlLayer({url: "http://91.228.52.236/kml/<%= @ckh.filename %>"}).setMap(map);
          new google.maps.InfoWindow({position: new google.maps.LatLng(<%= @ckh.center.split(",")[1] %>, <%= @ckh.center.split(",")[0] %>), content: '<%= @ckh.cname.strip %>'}).setMap(map);
        <%else%>
          <% @khoroo.each do |kh| %>
            new google.maps.KmlLayer({url: "http://91.228.52.236/kml/<%= kh.filename %>"}).setMap(map);
            new google.maps.InfoWindow({position: new google.maps.LatLng(<%= kh.center.split(",")[1] %>, <%= kh.center.split(",")[0] %>), content: '<%= kh.cname.strip %>'}).setMap(map);
          <% end %>
        <%end%>
          <% if @khoroolol %>
            <% @khoroolol.each do |k| %>
                  var coord = `<%=  k.coordinate %>`;
                  coords = [];
                  coord.split("\n").forEach(function(a,b){
                  c = a.split(",");
                  if(c.length > 1)
                     coords.push(new google.maps.LatLng(parseFloat(c[1]), parseFloat(c[0])));
                });
                var p = new google.maps.Polygon({
                paths: coords,
                strokeColor: '#FF0000',
                strokeOpacity:0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                map: map
                });

              //p.setMap(map);
                  new google.maps.InfoWindow({position: new google.maps.LatLng(<%= k.center.split(",")[1] %>, <%= k.center.split(",")[0] %>), content: `<%= k.region_name.strip %>`}).setMap(map);
            <% end %>
          <% end %>
          
        
    });
</script>
</div>