// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
	height: 650px;
	width: 100%;
	margin-top:10px;
}