<!DOCTYPE html>
<html>
<head>
  <title>Shuurkhai</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Шуурхай</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      	<li><a href="<%= region_path() %>">Нутаг дэвсгэр</a></li>
        <li><a href="<%= shop_path()%>">Шинэ дэлгүүр нэмэх</a></li>
        <li><a href="components.html">Шинэ байршил нэмэх</a></li>
      </ul>
    </div>
  </nav>
<div class="row">
<%= yield %>
</div>

</body>
</html>
